body {
  background: #333333 url(../img/bg.jpg) 0 0 repeat;
  position: relative;
  padding-top: 55px;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px 0 #000;
}
.navbar-inverse .navbar-inner {
  background: #dfdfdf;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a,
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: #333333;
  text-shadow: 0 1px 0 #fff;
}
.paragon {
  color: #049cdb;
}
#hero-overview .hero {
  background: rgba(0, 0, 0, 0.2) url(../img/sprite.png) right -6px no-repeat;
  border: 1px solid #424141;
  height: 68px;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
#hero-overview .hero a {
  color: #fff;
  display: block;
  padding: 10px;
  height: 46px;
  overflow: hidden;
  position: relative;
}
#hero-overview .hero a .level {
  color: #000;
  position: absolute;
  font-size: 120px;
  background: transparent;
  opacity: .4;
  top: -25px;
  right: -20px;
  font-weight: 600;
  z-index: 1;
  height: 120px;
  line-height: 120px;
}
#hero-overview .hero a h4 {
  margin: 0;
}
#hero-overview > div:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}
#hero-overview .wizard {
  background-position: right -6px;
}
#hero-overview .barbarian {
  background-position: right -86px;
}
#hero-overview .monk {
  background-position: right -166px;
}
#hero-overview .demon-hunter {
  background-position: right -246px;
}
#hero-overview .witch-doctor {
  background-position: right -326px;
}
#hero-detail #name {
  background: rgba(0, 0, 0, 0.2);
  border-top: 1px solid #424141;
  border-bottom: 1px solid #424141;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
#hero-detail #name h1 {
  margin: 20px 0;
}
#hero-detail #stats {
  margin-bottom: 20px;
}
#hero-detail #stats > div {
  overflow: hidden;
}
#hero-detail #stats > div dt {
  float: left;
  clear: both;
}
#hero-detail #stats > div dd {
  float: right;
}
#hero-detail #hero-body {
  position: relative;
}
#hero-detail #hero-body img {
  margin: 0 auto;
  display: block;
}
#gems > li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  width: 32px;
}
#gems > li.head {
  left: 117px;
  top: 9px;
}
#gems > li.torso {
  left: 117px;
  top: 79px;
}
#gems > li.legs {
  left: 117px;
  top: 209px;
}
#gems .gem {
  background: transparent url(../img/sprite.png) 0 0 no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  overlow: hidden;
  text-indent: -9999em;
  float: left;
  clear: both;
  margin-bottom: 3px;
}
#gems .gem.Topaz_01 {
  background-position: 6px -465px;
}
#gems .gem.Topaz_02 {
  background-position: -27px -465px;
}
#gems .gem.Topaz_03 {
  background-position: -59px -465px;
}
#gems .gem.Topaz_04 {
  background-position: -91px -465px;
}
#gems .gem.Topaz_05 {
  background-position: -125px -465px;
}
#gems .gem.Topaz_06 {
  background-position: -156px -465px;
}
#gems .gem.Topaz_07 {
  background-position: -188px -465px;
}
#gems .gem.Topaz_08 {
  background-position: -219px -465px;
}
#gems .gem.Topaz_09 {
  background-position: -252px -465px;
}
#gems .gem.Topaz_10 {
  background-position: -284px -465px;
}
#gems .gem.Amethyst_01 {
  background-position: 6px -465px;
}
#gems .gem.Amethyst_02 {
  background-position: -27px -465px;
}
#gems .gem.Amethyst_03 {
  background-position: -59px -465px;
}
#gems .gem.Amethyst_04 {
  background-position: -91px -465px;
}
#gems .gem.Amethyst_05 {
  background-position: -125px -465px;
}
#gems .gem.Amethyst_06 {
  background-position: -156px -465px;
}
#gems .gem.Amethyst_07 {
  background-position: -188px -465px;
}
#gems .gem.Amethyst_08 {
  background-position: -219px -465px;
}
#gems .gem.Amethyst_09 {
  background-position: -252px -465px;
}
#gems .gem.Amethyst_10 {
  background-position: -284px -465px;
}
#gems .gem.Ruby_01 {
  background-position: 6px -497px;
}
#gems .gem.Ruby_02 {
  background-position: -27px -497px;
}
#gems .gem.Ruby_03 {
  background-position: -59px -497px;
}
#gems .gem.Ruby_04 {
  background-position: -91px -497px;
}
#gems .gem.Ruby_05 {
  background-position: -125px -497px;
}
#gems .gem.Ruby_06 {
  background-position: -156px -497px;
}
#gems .gem.Ruby_07 {
  background-position: -188px -497px;
}
#gems .gem.Ruby_08 {
  background-position: -219px -497px;
}
#gems .gem.Ruby_09 {
  background-position: -252px -497px;
}
#gems .gem.Ruby_10 {
  background-position: -284px -497px;
}
#gems .gem.Emerald_01 {
  background-position: 6px -433px;
}
#gems .gem.Emerald_02 {
  background-position: -27px -433px;
}
#gems .gem.Emerald_03 {
  background-position: -59px -433px;
}
#gems .gem.Emerald_04 {
  background-position: -91px -433px;
}
#gems .gem.Emerald_05 {
  background-position: -125px -433px;
}
#gems .gem.Emerald_06 {
  background-position: -156px -433px;
}
#gems .gem.Emerald_07 {
  background-position: -188px -433px;
}
#gems .gem.Emerald_08 {
  background-position: -219px -433px;
}
#gems .gem.Emerald_09 {
  background-position: -252px -433px;
}
#gems .gem.Emerald_10 {
  background-position: -284px -433px;
}
/*
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid @lighterGray;
}

small { color: @lightGray; }

.accordion-inner .row-fluid {
  margin-left: 0;
  
  &.skills li:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
  }
  
  &.items > li:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }
  
  .blue h4 {
    color: @blue;
  }
  
  .yellow h4 {
    color: @yellow;
  }

  .green h4 {
    color: @green;
  }

  .orange h4 {
    color: @orange;
  }
}

.wizard .wizard, .wizard h1 { color: @wizard; }
.barbarian .barbarian, .barbarian h1 { color: @barbarian; }
.demon-hunter .demon-hunter, .demon-hunter h1 { color: @demon-hunter; }
.monk .monk, .monk h1 { color: @monk; }
.witch-doctor .witch-doctor, .witch-doctor h1 { color: @witch-doctor; }

//
// Login
// --------------------------------
#login-row {
  form {
    border: 1px solid @lighterGray;
    padding: 14px 19px;
    .border-radius(4px);
  }
}

*/
@media (max-width: 480px) {
  
}
@media (max-width: 980px) and (min-width: 480px) {
  body {
    padding-top: 0;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
