body {
  position: relative;
  padding-top: 55px;
}
h1,
h2,
h3,
h4,
h5 {
  border-bottom: 1px solid #dddddd;
}
small {
  color: #999999;
}
.accordion-inner .row-fluid {
  margin-left: 0;
}
.accordion-inner .row-fluid.skills li:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}
.accordion-inner .row-fluid.items > li:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}
.accordion-inner .row-fluid .blue h4 {
  color: #049cdb;
}
.accordion-inner .row-fluid .yellow h4 {
  color: #ffc40d;
}
.accordion-inner .row-fluid .green h4 {
  color: #46a546;
}
.accordion-inner .row-fluid .orange h4 {
  color: #f89406;
}
.wizard .wizard,
.wizard h1 {
  color: #3b5578;
}
.barbarian .barbarian,
.barbarian h1 {
  color: #aa563d;
}
.demon-hunter .demon-hunter,
.demon-hunter h1 {
  color: #905966;
}
.monk .monk,
.monk h1 {
  color: #b16b36;
}
.witch-doctor .witch-doctor,
.witch-doctor h1 {
  color: #5e6253;
}
#login-row form {
  border: 1px solid #dddddd;
  padding: 14px 19px;
  -webkit-background-clip: padding-box;
  /* fix WebKit background bleed on border-radius */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.hero {
  margin-bottom: 15px;
}
.hero h4 {
  border-bottom: 0;
  margin: 0;
}
.hero .level {
  position: absolute;
  font-size: 100px;
  background: transparent;
  opacity: .2;
  top: 15px;
  right: -10px;
  font-weight: 600;
  z-index: 0;
}
.hero .paragon-level {
  float: right;
}
.hero a {
  border: 1px solid #dddddd;
  padding: 7px 19px;
  -webkit-background-clip: padding-box;
  /* fix WebKit background bleed on border-radius */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  position: relative;
  overflow: hidden;
}
.hero a:hover {
  border: 1px solid #999999;
  background: #dddddd;
  text-decoration: none;
}
.hero p {
  font-size: 12px;
  color: #999999;
  margin: 0;
}
.hero .wizard {
  color: #3b5578;
}
.hero .barbarian {
  color: #aa563d;
}
.hero .demon-hunter {
  color: #905966;
}
.hero .monk {
  color: #b16b36;
}
.hero .witch-doctor {
  color: #5e6253;
}
#stats {
  margin-bottom: 20px;
}
#stats > div {
  overflow: hidden;
}
#stats > div dt {
  float: left;
  clear: both;
}
#stats > div dd {
  float: right;
}
@media (max-width: 480px) {
  
}
@media (max-width: 980px) and (min-width: 480px) {
  body {
    padding-top: 0;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
