@import "variables";
@import "mixins";

body {
  background: @darkGray url(../img/bg.jpg) 0 0 repeat;
  position: relative;
	padding-top: 55px;
	color: #fff;
	font-size: @fontSize;
}

.navbar-inverse .navbar-inner {
  background: #dfdfdf;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a,
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover {
  color: @darkGray;
  text-shadow: 0 1px 0 #fff;
}

//
// Hero overview
// ---------------------------------
#hero-overview  {
  .hero {
    background: rgba(0,0,0,.2) url(../img/bg-overview.png) right -6px no-repeat;
    border: 1px solid #424141;
    height: 68px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

    a {
      color: #fff;
      display: block;
      padding: 10px;
      height: 46px;
      overflow: hidden;
      position: relative;

      .level {
        color: #000;
        position: absolute;
        font-size: 120px;
        background: transparent;
        opacity: .4;
        top: -25px;
        right: -20px;
        font-weight: 600;
        z-index: 1;
        height: 120px;
        line-height: 120px;
      }

      h4 {
        margin: 0;
      }
    }
  }
  
  & > div:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }

  
  
  .wizard { background-position: right -6px; }
  .barbarian { background-position: right -86px; }
  .demon-hunter { background-position: right -166px; }
  .monk { background-position: right -246px; }
  .witch-doctor { background-position: right -326px; }
}





/*
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid @lighterGray;
}

small { color: @lightGray; }

.accordion-inner .row-fluid {
  margin-left: 0;
  
  &.skills li:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
  }
  
  &.items > li:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }
  
  .blue h4 {
    color: @blue;
  }
  
  .yellow h4 {
    color: @yellow;
  }

  .green h4 {
    color: @green;
  }

  .orange h4 {
    color: @orange;
  }
}

.wizard .wizard, .wizard h1 { color: @wizard; }
.barbarian .barbarian, .barbarian h1 { color: @barbarian; }
.demon-hunter .demon-hunter, .demon-hunter h1 { color: @demon-hunter; }
.monk .monk, .monk h1 { color: @monk; }
.witch-doctor .witch-doctor, .witch-doctor h1 { color: @witch-doctor; }

//
// Login
// --------------------------------
#login-row {
  form {
    border: 1px solid @lighterGray;
    padding: 14px 19px;
    .border-radius(4px);
  }
}



#stats {
  margin-bottom: 20px;
  
  > div { 
    overflow: hidden; 

    dt {
      float: left;
      clear: both;
    }

    dd {
      float: right;
    }
  }
}*/

//
// Media queries
// ---------------------------------
@media (max-width: 480px) {
}

@media (max-width: 980px) and (min-width: 480px) {
  body {
    padding-top: 0;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}